%form{:method => 'post', :action => '/links', :class => 'new_link'}
  %h2 Shorten Links
  %input{:name => 'url', :id => 'link_url'}
  %label{:for => 'link_url'} Input URL's seperated by comma(s)
  %button{:type => 'submit'} Submit
