.info
  Your API Key is #{current_user.api_key}
  = clippy(current_user.api_key)
%div
  = _new_link
  #group_list
    - user.groups.reverse.each do |group|
      = _link_group(:group => group)
    =# _paginate(:pages => links.total_pages)
