%html
  %head
    %title Test | Joseph Hsu
    %link{:href => '/layout.css', :media => 'screen', :rel => 'stylesheet'}
  %body
    #container
      #header
        %h1
          %a{:href => '/'} LinkWall
        = _session
      #content
        - if flash[:notice]
          %div.notice= flash[:notice]
        - elsif flash[:error]
          %div.error= flash[:error]

        = yield
      #footer
        &copy; 2009 Joseph Hsu
