%html
  %head
    %title Test | Joseph Hsu
    %link{:href => '/layout.css', :media => 'screen', :rel => 'stylesheet'}
  %body
    #container
      #header
        %h1 Joseph Hsu
      #content
        = yield
